
@{
    ViewBag.Title = "Calculater";
}

<h2>Calculater</h2>

<form method="get" action="CalculterResult">

    <input type="number" name="num1" />
    <input type="number" name="num2" />
    <input type="submit" name="add" value="Add" />
    <input type="submit" name="sub" value="Subtraction" />
    <input type="submit" name="mul" value="Multiplication" />
    <input type="submit" name="div" value="Division" />
</form>

